# data files for some example scripts
examples/blast.xpm
examples/browser.cxx

# docco output directory
#docs/

# local files for remembering stuff
HISTO
TODO

# temporary files
.*.swp

# object files
*.o
*.obj

# libraries
*.so
*.dll
*.a
*.lib
*.exp
*.def

# executables
*.exe

# precompiled Lua bytecode files
*.luac

# LuaRocks packages
*.rock

